<% @page_title = 'MovieLens Demo' %>
<div class="jumbotron">
  <div class="container">
    <p>User info</p>
  </div>
</div>
<div class="container">
  <% if !current_user.admin? %>
    <h1>List Movie Rating</h1> 
    <div class="owl-carousel">
      <% @ratings.each do |movie| %>
        <% if movie %>
          <div>
            <div class="movie-thumbnail">
              <div class="image">
                <%= link_to image_tag(movie.poster_url, alt: movie.title), movie %>
              </div>
              <div class="title">
                <h4>
                  <%= link_to movie.title, movie, "data-toggle" => "tooltip", title: movie.title %>
                </h4>
              </div>
              <%= render 'movies/details', movie: movie %>
            </div>
          </div>
        <% end -%>
      <% end -%>
    </div>
    <h1>List Like</h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Delete</th>
      </tr>
      <% @category_users.each do |c| %>
        <tr>
          <td><%= c.category.try(:name) %></td>
          <td><%= link_to "Delete", "/remove_like/" + c.id.to_s, method: :delete %></td>
        </tr>
      <% end -%>
    </table>
    <h1>List Unlike</h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Delete</th>
      </tr>
      <% @un_category_users.each do |c| %>
        <tr>
          <td><%= c.category.try(:name) %></td>
          <td><%= link_to "Delete", "/remove_like/" + c.id.to_s, method: :delete %></td>
        </tr>
      <% end -%>
    </table>
    <h1>Add Like</h1>
    <%= form_tag(like_categories_path, :method=>'post', :multipart => true) do %>
      <div class="form-group">
        <label>Name</label>
        <select name="category" class="form-control">
          <% @categories.each do |c| %>
            <option value="<%= c.id %>"><%= c.name %></option>
          <% end -%>
        </select>
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    <% end -%>
    <h1>Add Unlike</h1>
    <%= form_tag(unlike_categories_path, :method=>'post', :multipart => true) do %>
    <div class="form-group">
      <label>Name</label>
      <select name="category" class="form-control">
        <% @categories.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end -%>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Add</button>
    <% end -%>
  <% else %>
    <h1>List Category</h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Delete</th>
      </tr>
      <% @categories.each do |c| %>
        <tr>
          <td><%= c.try(:name) %></td>
          <td><%= link_to "Delete", category_path(c.id), method: :delete %></td>
        </tr>
      <% end -%>
    </table>
    <h1>Add new category</h1>
    <%= form_tag(categories_path, :method=>'post', :multipart => true) do %>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="category" class="form-control">
      </div>
      <button type="submit" class="btn btn-default" class="form-control">Create</button>
    <% end -%>
  <% end -%>
</div>
