<% if !current_user.admin? %>
  <h1>List Like</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Delete</th>
    </tr>
    <% @category_users.each do |c| %>
      <tr>
        <td><%= c.category.try(:name) %></td>
        <td><%= link_to "Delete", "/remove_like/" + c.id.to_s, method: :delete %></td>
      </tr>
    <% end -%>
  </table>
  <h1>List Unlike</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Delete</th>
    </tr>
    <% @un_category_users.each do |c| %>
      <tr>
        <td><%= c.category.try(:name) %></td>
        <td><%= link_to "Delete", "/remove_like/" + c.id.to_s, method: :delete %></td>
      </tr>
    <% end -%>
  </table>
  <h1>Add Like</h1>
  <%= form_tag(like_categories_path, :method=>'post', :multipart => true) do %>
  <div>
    <label>Name</label>
    <select name="category">
      <% @categories.each do |c| %>
        <option value="<%= c.id %>"><%= c.name %></option>
      <% end -%>
    </select>
  </div>
  <button type="submit">Like</button>
  <% end -%>
  <h1>Add Unlike</h1>
  <%= form_tag(unlike_categories_path, :method=>'post', :multipart => true) do %>
  <div>
    <label>Name</label>
    <select name="category">
      <% @categories.each do |c| %>
        <option value="<%= c.id %>"><%= c.name %></option>
      <% end -%>
    </select>
  </div>
  <button type="submit">Like</button>
  <% end -%>
<% else %>
  <h1>List Category</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Delete</th>
    </tr>
    <% @categories.each do |c| %>
      <tr>
        <td><%= c.try(:name) %></td>
        <td><%= link_to "Delete", category_path(c.id), method: :delete %></td>
      </tr>
    <% end -%>
  </table>
  <h1>Add new category</h1>
  <%= form_tag(categories_path, :method=>'post', :multipart => true) do %>
  <div>
    <label>Name</label>
    <input type="text" name="category">
  </div>
  <button type="submit">Create</button>
  <% end -%>
<% end -%>